@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
}
body * {
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: #201bc3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: #77ffc0;
    font-size: 3vw;
}
.left-login-image{
    width: 40vw;
}
.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0%;
    padding: 10px;
}
.inputBox {
    position: relative;
    width: 250px;
    padding: 10;
    margin: 10px;
   
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.12 );
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #00ff88;
    font-size:  1em;
    transition: 0.5s;
}

.inputBox span{
    position: absolute;
    left: 0;
    top: 1px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.5s;
    color: #00ff88;
    background: #1d2b3a;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #00ff88;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid;

}

.btm-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    outline: none;
    font-weight: 800;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}
.btm-login:hover{
    background-color: #00ff88d3;
}
